@use './fontface' as *;
@use './variables' as *;
@use './mixins' as *;
* {
  font-weight: normal;
}
body {
  font-family: 'helvetica';
  font-size: 100%;
  color: $color-white;

  background-color: #363636;
}
