$color-black: #111111;
$color-purple-dark: #140125;
$color-purple-light: #2a1b39;
$color-white: #ececec;
$color-grey: #b2b9bf;
$color-grey-dark: #676e73;

// Spacing
$spacing-xxsmall: 4px;
$spacing-xsmall: 8px;
$spacing-small: 16px;
$spacing-regular: 24px;
$spacing-large: 36px;
$spacing-xlarge: 48px;

// MISC

$site-max-width: 1599px;
