@use '../../styles/index.scss' as *;

.imagex {
  margin: auto;
}

.imagex img {
  border-radius: 40px;
}

.flex {
  display: flex;
  justify-content: center;
  background-color: #1f2121;
  //   border-radius: 40px;
  padding-top: 30px;
}
