.k__section5 {
    height: 100vh;
}

.k-s5 {

    &__wrapper {


        &-top {
            height: 250px;
        }

        &-bottom {
            height: 850px;
        }
    }

    &__more-video {
        padding-bottom: 76px;
    }

    &__continue {
        display: flex;
        flex-direction: row;

        &-img {
            width: 110px;
            height: 111px;
            margin-bottom: 32px;
            margin-right: 26px;
            object-fit: cover;
        }

        &-info {}

    }

    p {
        font-size: 20px;
    }

    &__title {
        font-size: 26px;
        margin: 0%;
        padding-bottom: 35px;
    }
}