@use '../styles/index.scss' as *;

.a_modal {
  &__header {
  }
  &__xButton {
  }
  &__screen {
    border-radius: 40px;
  }

  &__bottomSection {
    display: flex;
    flex-direction: column;
    padding-left: 41px;
  }

  &__episodesText {
    font-size: 24px;
    color: $color-grey;
    font-weight: 600;
    padding-bottom: 15px;
  }

  &__divider1 {
    margin-top: -10px;
    width: 720px;
    color: $color-grey;
    margin-bottom: 8px;
  }

  &__season1 {
    font-size: 22px;
    color: $color-white;
    padding-right: 40px;
  }
  &__season2,
  &__season3,
  &__season4 {
    font-size: 22px;
    color: $color-grey-dark;
    padding-right: 40px;
    &:hover {
      color: $color-white;
    }
  }

  &__carrousel {
    //  display: flex;
    //  flex-direction: row;
  }
  &__episode {
    padding-right: 20px;
  }
  &__crown {
    width: 269px;
    height: 175px;
    //  border-bottom-left-radius: 20px;
    //  border-bottom-right-radius: 20px;
    //  border-top-right-radius: 20px;
    //  border-top-left-radius: 20px;
    padding-top: 15px;
    padding-right: 20px;
    filter: brightness(60%);
    &:hover {
      filter: brightness(100%);
      transform: scale(105%);
    }
  }

  &__crownText {
    color: $color-grey-dark;
    padding-top: 5px;
    font-size: 18px;
    padding-left: 2px;
    &:hover {
      filter: invert(1);
    }
  }

  &__item1 {
    display: flex;
    flex-direction: row;
    height: 300px;
  }
  &__item2 {
    display: flex;
    flex-direction: row;
    height: 300px;
  }
}

.--selected {
  filter: contrast(130%);
}
