@use '../styles/index.scss' as *;

.a_topnav {
  padding-top: 55px;

  &__logo {
    padding-left: 32px;
    padding-right: 55px;
    filter: brightness(135%);
  }
  &__flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__leftgroup {
    display: flex;
    flex-direction: row;
  }

  &__Input {
    width: 541px;
    height: 50px;
    color: $color-grey-dark;
    background-color: #1f2121;
    border: solid $color-black;
    padding: $spacing-small;
    border-radius: 25px;
    background-image: url('../assets/figma/search.png') no-repeat right;
    background-size: 20px;
    &::placeholder {
      color: $color-grey-dark;
    }
  }
  &__searchIcon {
    position: absolute;
    left: 845px;
    top: 85px;
    z-index: 2;
    filter: brightness(60%);
  }

  &__rightgroup {
    display: flex;
    align-items: center;
    padding-right: 32px;
    height: 40px;
  }

  &__right-col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: $spacing-regular;
  }

  &__flex {
    display: flex;
    align-items: baseline;
    gap: 6px;
  }
  &__name {
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  &__premium {
    font-size: 16px;
  }
  &__avatar {
    width: 50px;
  }
}
