@use '../styles/index.scss' as *;

.a_topnav {
  padding-top: 55px;

  &__logo {
    padding-left: 32px;
    padding-right: 55px;
  }
  &__flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__leftgroup {
    display: flex;
    flex-direction: row;
  }

  &__Input {
    width: 541px;
    height: 50px;
    color: $color-white;
    background-color: $color-purple-light;
    border: solid $color-white;
    padding: $spacing-small;
    border-radius: 10px;
    &::placeholder {
      color: $color-white;
    }
  }

  &__rightgroup {
    display: flex;
    padding-right: 32px;
  }

  &__right-col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: $spacing-regular;
  }
}
